{% extends 'base.html' %}
{% load static %}


{% block title %}

<title> Dashboard </title>

{% endblock %}


{% block body %}

<script
      src="https://kit.fontawesome.com/2828f7885a.js"
      integrity="sha384-WAsFbnLEQcpCk8lM1UTWesAf5rGTCvb2Y+8LvyjAAcxK1c3s5c0L+SYOgxvc6PWG"
      crossorigin="anonymous"
    ></script>

<div class="container">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </nav>
        <section class="hero is-info welcome is-small">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Hello, {{ user.get_username }}
                    </h1>
                    <h2 class="subtitle">
                        Here's your life at a glance
                    </h2>
                </div>
            </div>
        </section>
        <section class="info-tiles">
            <div class="tile is-ancestor has-text-centered">
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title"> </p>
                        <p class="title"> {{ entries }}</p>
                        <p class="subtitle">Entries</p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title"></p>
                        <p class="title">{{ entry_streak }}</p>
                        <p class="subtitle">Longest consecutive days</p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title">
                             <i class="far {{ mood }} fa-2x"></i>
                        </p>
                        <p class="subtitle">Mood over 7 days</p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title">
                            <i class="far {{ activity_icon }} "></i>
                            <p class="subtitle">{{ activity }}</p>
                        </p>
                        <p class="subtitle">Favorite activity</p>
                    </article>
                </div>
            </div>
        </section>

        <section class="info-tiles">
            <canvas id="lineChart"></canvas>
        </section>

        <div class="columns">
            <div class="column is-6">
                <div class="card events-card">
                    <header class="card-header">
                        <p class="card-header-title">
                            Mood overview
                        </p>
                        <a href="#" class="card-header-icon" aria-label="more options">
          <span class="icon">
            <i class="fa fa-angle-down" aria-hidden="true"></i>
          </span>
        </a>
                    </header>
                    <div class="card-table">
                        <div class="content">
                            <canvas id="doughnutChart"></canvas>
                        </div>
                    </div>

                </div>
            </div>
            <div class="column is-6">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            Moods and activities
                        </p>
                        <a href="#" class="card-header-icon" aria-label="more options">
          <span class="icon">
            <i class="fa fa-angle-down" aria-hidden="true"></i>
          </span>
        </a>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            <canvas id="radarChart"></canvas>
                        </div>
                    </div>
            </div>

            </div>
        </div>
    </div>

    <script async type="text/javascript" src="{% static 'js/bulma.js' %}"></script>

    <input type="hidden" id="weekly_moods" name="weekly_moods" value="{{ weekly_moods }}">
    <input type="hidden" id="mood_percentages" name="mood_percentages" value="{{ percentages }}">
    <input type="hidden" id="empty" name="mood_percentages" value="{{ empty }}">


    <script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}



{% block scripts %}

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/mdb.js' %} "></script>
    <script src="{% static 'js/mdb.min.js' %} "></script>

{% endblock %}
