{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mind Journal</title>
    <!-- Bulma Version 0.9.0-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/showcase.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/preloader.css' %}"/>
    <script
      src="https://kit.fontawesome.com/2828f7885a.js"
      integrity="sha384-WAsFbnLEQcpCk8lM1UTWesAf5rGTCvb2Y+8LvyjAAcxK1c3s5c0L+SYOgxvc6PWG"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="{% static 'js/showcase.js' %}"></script>
    <script src="{% static 'js/bulma.js' %}"></script>
    <link rel="icon" type="image/png" href="favicon.png" />
  </head>

  <body>
    <!-- Begin Preloader -->
    <div class="preloader-wrapper">
      <div class="preloader">
        <div class="lds-dual-ring"></div>
      </div>
    </div>
    <!-- End Preloader-->
    <!-- Begin Scroll Up Button -->

    <form action="#home">
      <button id="toTop" title="Go to top">
        <i class="fas fa-angle-up"></i>
      </button>
    </form>
    <!-- End Scroll Up Button -->

    <!-- Begin Header -->
    <div class="header-wrapper" id="home">
      <!-- Begin Hero -->
      <section class="hero is-large">
        <!-- Begin Mobile Nav -->
        <nav class="navbar is-transparent is-hidden-desktop">
          <!-- Begin Burger Menu -->
          <div class="navbar-brand">
            <div class="navbar-burger burger" data-target="mobile-nav" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <!-- End Burger Menu -->
          <div id="mobile-nav is-active" class="navbar-menu ">
            <div class="navbar-end">
              <div class="navbar-item">
                <a class="navbar-item" href="#home">
                  Entries
                </a>
              </div>
              <div class="navbar-item">
                <a class="navbar-item" href="#about-me">
                  Stats
                </a>
              </div>
              <div class="navbar-item">
                <a class="navbar-item" href="#services">
                  Calendar
                </a>
              </div>
              <div class="navbar-item">
                <a class="navbar-item" href="#skills">
                  Radio
                </a>
              </div>
            </div>
          </div>
        </nav>
        <!-- End Mobile Nav -->
        <!-- Begin Hero Content-->
        <div class="hero-body">
          <div class="container has-text-centered">
            <h1 class="subtitle">Welcome to</h1>
            <h2 class="title">Mind Helth</h2>
          </div>
        </div>
        <!-- End Hero Content-->
        <!-- Begin Hero Menu -->
        <div class="hero-foot ">
          <div class="hero-foot--wrapper">
            <div class="columns">
              <div class="column is-12 hero-menu-desktop has-text-centered">
                <ul>
                  <li class="is-active">
                    <a href="#home">Home</a>
                  </li>
                  <li>
                    <a href="#home">Entries</a>
                  </li>
                  <li>
                    <a href="#about-me">Stats</a>
                  </li>
                  <li>
                    <a href="#services">Calendar</a>
                  </li>
                  <li>
                    <a href="#skills">Radio</a>
                  </li>
                  <li>
                    <a href="#my-work">Dashboard</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- End Hero Menu -->
      </section>
      <!-- End Hero -->
    </div>
    <!-- End Header -->

    <!-- Begin Main Content -->
    <div class="main-content">
      <!-- Begin About Me Section -->
      <div class="section-light about-me" id="about-me">
        <div class="container">
          <div class="column is-12 about-me">
            <h1 class="title has-text-centered section-title">About this app</h1>
          </div>
          <div class="columns is-multiline">
            <div
              class="column is-6 has-vertically-aligned-content"
              data-aos="fade-right"
            >
              <p class="is-larger">
                &emsp;&emsp;<strong>
                  We live in tough times. A study shows that globally, 548 million people struggle with depression or
                  anxiety. Moreover, the current global pandemic has all of us locked up in our homes, with little to
                  none social interaction.

              </strong>
              </p>
              <br />
              <p>
                The benefits of journaling cannot be underestimated. Journaling has been proven to boost your mood,
                Enhance the sense of well-being and boost working memory(Baikie & Wilhelm, 2005). Mind Helth offers
                a safe, private place to express your feelings and generally dump emotions.


              <br />
              </p>

              <div class="is-divider"></div>
              <div class="columns about-links">
                <div class="column">
                </div>
                <div class="column">
                </div>
                <div class="column">

                </div>
              </div>
            </div>
            <div class="column is-6 right-image " data-aos="fade-left">
              <img
                class="is-rounded"
                src="https://picsum.photos/id/366/600/375"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
      <!-- End About Me Content -->
      <!-- Begin Services Content -->
      <div class="section-color services" id="services">
        <div class="container">
          <div class="columns is-multiline">
            <div
              class="column is-12 about-me"
              data-aos="fade-in"
              data-aos-easing="linear"
            >
              <h1 class="title has-text-centered section-title">What we offer</h1>

              <h2 class="subtitle">
               <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua --!>
              </h2>
              <br />
            </div>
            <div class="columns is-12">
              <div
                class="column is-4 has-text-centered"
                data-aos="fade-in"
                data-aos-easing="linear"
              >
                <i class="fas fa-book fa-3x"></i>
                <hr />
                <h2>
                  A place to vent : leave your negative thoughts, your fears, your anxieties in one place, outside of
                  your mind.
                </h2>
              </div>
              <div
                class="column is-4 has-text-centered"
                data-aos="fade-in"
                data-aos-easing="linear"
              >
                <i class="fas fa-paint-brush fa-3x"></i>
                <hr />
                <h2>
                  Be creative! Writing stimulates everyday creativity.
                </h2>
              </div>
              <div
                class="column is-4 has-text-centered"
                data-aos="fade-in"
                data-aos-easing="linear"
              >
                <i class="fas fa-laugh-beam fa-3x"></i>
                <hr />
                <h2>
                  Track your mood! Get a detailed graph of how your mood evolves over time, and an analysis of which
                  activities made you the happiest.
                </h2>
              </div>
            </div>
            <hr />
            <div class="columns is-12">
              <div
                class="column is-4 has-text-centered"
                data-aos="fade-in"
                data-aos-easing="linear"
              >
                <i class="fas fa-dumbbell fa-3x"></i>
                <hr />
                <h2>
                  Track your favorite activities! Whether they be sports, reading, social interaction, find out which
                  activities you love the most!
                </h2>
              </div>
              <div
                class="column is-4 has-text-centered"
                data-aos="fade-in"
                data-aos-easing="linear"
              >
                <i class="fas fa-music fa-3x"></i>
                <hr />
                <h2>
                  Get music recommended to you based on your current mood. Feeling down? Have some slow tunes to vibe to.
                  Feeling happy? Get jazzed up with some upbeat notes!
                </h2>
              </div>
              <div
                class="column is-4 has-text-centered"
                data-aos="fade-in"
                data-aos-easing="linear"
              >
                <i class="fas fa-lock fa-3x"></i>
                <hr />
                <h2>
                  Rest easy. Only you have access to your notes and data. Using state-of-the art military grade encryption,
                  we encrypt your data so only you can access it. Your thoughts are yours and only yours.
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="section-light contact" id="signup">
        <div class="container">
          <div
            class="columns is-multiline"
            data-aos="fade-in-up"
            data-aos-easing="linear"
          >
            <div class="column is-12 about-me">
              <h1 class="title has-text-centered section-title">
                Are you ready?
              </h1>
            </div>
            <div class="column is-8 is-offset-2">
                <div class="hero-body has-text-centered">
                  <div class="login">
                    {% if messages %}
					{% for message in messages %}
					{% if message.tags == 'error' %}
					<div class="notification is-danger">
						{{message}}
					</div>
					{%endif%}
					{% if message.tags == 'success' %}
					<div class="notification is-warning">
						{{message}}
					</div>
					{%endif%}
					{% endfor %}
					{% endif %}
                    <form method="POST">
                      {% csrf_token %}
                      <div class="field">
                        <div class="control">
                          <input class="input is-medium is-rounded" type="text" placeholder="Username" autocomplete="username" name="usr" required />
                        </div>
                      </div>
                      <div class="field">
                        <div class="control">
                          <input class="input is-medium is-rounded" type="email" placeholder="Email" autocomplete="email" name="addr" required />
                        </div>
                      </div>
                      <div class="field">
                        <div class="control">
                          <input class="input is-medium is-rounded" type="password" placeholder="Password" autocomplete="current-password" name="pwd" required />
                        </div>
                      </div>
                       <div class="field">
                        <div class="control">
                          <input class="input is-medium is-rounded" type="password" placeholder="Password ( again )" autocomplete="current-password" name="pwd_r" required />
                        </div>
                      </div>
                      <br />
                      <button class="button is-block is-fullwidth is-primary is-medium is-rounded" type="submit" onclick="document.querySelector('.button').classList.toggle('is-active');">
                        Sign up
                      </button>
                    </form>
                    <br>
                    <nav class="level">
                      <div class="level-item has-text-centered">
                        <div>
                          <a href="#">Already a member? Log in!</a>
                        </div>
                      </div>
                    </nav>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Contact Content -->
    </div>
    <!-- End Main Content -->

    <!-- Begin Footer -->
    <div class="footer">
      <p>
        <strong class="white">Bulma</strong> by <a href="http://jgthms.com">Jeremy Thomas</a>.
        The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content is licensed
        <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
      </p>
    </div>
    <!-- End Footer -->

    <!-- Scripts -->

    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
    <script>
      AOS.init({
        easing: "ease-out",
        duration: 800,
      });
    </script>
  </body>
</html>