{% load static %}

<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Neumorphic Login - Free Bulma template</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/neumorphic-login.css' %}">
  </head>

  <body>

    <section class="hero is-fullheight">

      <div class="hero-body has-text-centered">
        <div class="login">
          <h1 class="title has-text-centered section-title">
           Login
         </h1>

          {% if messages %}
            {% for message in messages %}
              {% if message.tags == 'error' %}
                <div class="notification is-danger">
                    {{message}}
                </div>
              {%endif%}
              {% if message.tags == 'success' %}
                <div class="notification is-warning">
                    {{message}}
                </div>
              {%endif%}
            {% endfor %}
          {% endif %}
          <form method="POST">
            {% csrf_token %}

            <div class="field">
              <div class="control">
                <input class="input is-medium is-rounded" type="text" placeholder="Username" autocomplete="username" required name="usr"/>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input class="input is-medium is-rounded" type="password" placeholder="Password" autocomplete="current-password" required name="pwd" />
              </div>
            </div>
            <br />
            <button class="button is-block is-fullwidth is-primary is-medium is-rounded" type="submit">
              Login
            </button>
          </form>
          <br>
          <nav class="level">
            <div class="level-item has-text-centered">
              <div>
                <a href="/#signup">Create an Account</a>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </section>
  </body>

</html>